language: node_js
node_js:
  - 'node'

cache: npm

install:
  - npm install

script:
  - npm run lint
  - npm run build

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local_dir: dist
  on:
    branch: master

notifications:
  email:
    on_success: never
